{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'bank/main.css' %}">
      <title>ABC Bank</title>
      {% block style %}
      {% endblock style %}
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
      <div class="container">
        <a class="navbar-brand mr-auto" href="{% url 'home' %}"><b class="logo">ABC</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
          {% with request.resolver_match.url_name as url_name %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if nbar == 'home' %}active{% endif %}"><a class="nav-link" href="{% url 'home' %}" style="color: white;"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li class="nav-item {% if nbar == 'customers_page' %}active{% endif %}"><a class="nav-link" href="{% url 'customers' %}" style="color: white;"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Customers</a></li>
            <li class="nav-item {% if nbar == 'transactions_page' %}active{% endif %}"><a class="nav-link" href="{% url 'transactions' %}" style="color: white;"><i class="fa fa-credit-card" aria-hidden="true"></i> Transactions</a></li>
            <li class="nav-item {% if nbar == 'transfers_page' %}active{% endif %}"><a class="nav-link" href="{% url 'transfers' %}" style="color: white;"><i class="fa fa-paper-plane" aria-hidden="true"></i> Transfer</a></li>
          </ul>
          {% endwith %}
        </div>
      </div>
    </nav>
      {% block content %}{% endblock content %}
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-auto">
            <p>© Copyright ABC Bank. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
  </body>
</html>